.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  padding-top: 1.6rem;
  min-height: 100vh;
  gap: 2rem;
  line-height: 1.8;
}

.main h1 {
  line-height: 1.2;
  margin: 0.8rem 0;
}

.description {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  max-width: var(--max-width);
  width: 100%;
}

.center {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 1.1rem;
}

.center p {
  padding-left: 2rem;
  font-size: 1.2rem;
}

.bob {
  max-width: 300px;
  align-self: center;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .main {
    padding: 1.25rem;
  }
}
